*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.masterDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    background: radial-gradient(at top,#2e324b,#282c49,#191E3E);    
    width: 100%;
    background-attachment: fixed ;
    height: 100vh;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: row;
    margin: 35px 20vw;
    margin-bottom: 0px;
    margin-top: 35px;
    width: auto;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
}
header>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 5px 40px;
}
h4{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    color: hsl(229, 64%, 46%);
}
#scoreCounter{
    font-size: 50px;
    color: hsl(229, 25%, 31%);
    font-weight: 600;
    height: fit-content;
    transition: 1s;
}
.gameCenter{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    color: #c7c7c7;
}
#pickAType{
    /* display: none; */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 320px;
    width: 320px;
}
.triangle{
    position: absolute;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0em 0.3em rgba(0, 0, 0, 0.2);
    position: absolute;
    left: calc(50% - 65px);
    top: calc(50% - 65px);

}
.circleResult{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0em 0.3em rgba(0, 0, 0, 0.2);
}
.circle:hover{
    scale: 1.05;
    background-color: rgb(218, 218, 218);
}
.scissors{
    border: 15px solid #eda723;
    position: absolute;
    top: -50px;
    right: -50px;
}
.rock{
    border: 15px solid #db3d5a;
    position: absolute;
    bottom: -50px;
    right: calc(50% - 50px); 
}
.paper{
    border: 15px solid #5571f6;
    position: absolute;
    top: -50px; 
    left: -50px;
}

/* bonuse css part*/
.paperB{
    border: 15px solid #5571f6;
    transform:rotate(74deg) translate(0 ,-110%) rotate(-74deg);
    /* position: absolute; */
    /* top: -50px; */
    /* left: -50px; */
}
.scissorsB{
    border: 15px solid #eda723;
    transform: translate(0 ,-110%);

    /* position: absolute;
    top: -50px;
    right: -50px; */
}
.rockB{
    border: 15px solid #db3d5a;
    transform:rotate(146deg) translate(0 ,-110%) rotate(-146deg);

    /* position: absolute;
    bottom: -50px;
    right: calc(50% - 50px);  */
}
.lizarB{
    border: 15px solid #8e5ce4;
    transform:rotate(218deg) translate(0 ,-110%) rotate(-218deg);

}
.lizard{
    border: 15px solid #8e5ce4;
}
.spockB{
    border: 15px solid #4abcce;
    transform:rotate(290deg) translate(0 ,-110%) rotate(-290deg);

}
.spock{
    border: 15px solid #4abcce;
}
/**************************************************/
#rules{
    cursor: pointer;
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px 25px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    color: #c7c7c7;
    transition: 0.5s;
}
#rules:hover{
    scale: 1.02;
    color: #f9f9f9;
}
#popUpRulesShadow{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    z-index: 10;
}
#popUpRules{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: white;
    border-radius: 15px;
    gap: 20px;
}
.haedlinePopUp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.titleRules{
    font-weight: 600;
    font-size: 25px;
    color: #29315f;
}
#close{
    font-size: 20px;
    color:#d0d0d0;
    transition: 0.5s;
}
#close:hover{
    cursor: pointer;
    color:#707070;
    scale: 1.1;
}
#resultAnimated{
    display: none;
    position: relative;
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    gap: 6vw;
    justify-content: space-between;
}
.addingToResult{
    gap: 20vw;
}
.pickedDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 270px;
    width: 25vh;
    justify-content: space-between;
}
.pickedDiv>h3{
    font-size: 30px;
    white-space: nowrap;
    color: aliceblue;
}
.emptyAvatar{
    height: 150px;
    width: 150px;
    background: #191E3E;
    border-radius: 50%;
}
#uPicked{
    z-index: 10;
}
#computerPick{
    z-index: 10;
}
/* pulsing ********************/
.avatarMasterDiv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pulsingContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pulsingCircle{
    position:absolute;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);

}
.pulsingCircle:nth-child(1){
    animation-delay: -4s;
}
.pulsingCircle:nth-child(2){
    animation-delay: -3s;
}
.pulsingCircle:nth-child(3){
    animation-delay: -2s;
}
.pulsingCircle:nth-child(4){
    animation-delay: -1s;
}
.pulsingCircle:nth-child(5){
    animation-delay: 1s;
}
@keyframes scaleIn {
    from {
      transform: scale(.5, .5);
      opacity: .3;
    }
    to {
      transform: scale(3, 3);
      opacity: 0;
    }
  }
#youWin{
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    width: 350px;
    transform: translate(0, 15%);
    animation: expand 1.5s cubic-bezier(0, 0.23, 0, 1.01) forwards;
  }
  
  @keyframes expand {
    0% {
        transform:scale(0) ;
    }
    100% {
        transform:scale(1)
    }
  }
#youWin>p{
    font-size: 62px;
    white-space: nowrap;
    font-weight: 500;
    color: #f9f9f9;
}
#youWin>button{
    width: 100%;
    height: 3.5em;
    font-size: 21px;
    font-weight: 500;
    color: #191E3E;
    border-radius: 6px;
    cursor: pointer;
}
#youWin>button:hover{
    background-color: #e4e4e4;
}
.avatar{
    position: static;
    scale: 1.3;
}
.avatar:hover{
    scale: 1.3;
}
@media (max-width: 900px) {
    #logo{
        width: fit-content;
        height: fit-content;
    }
    header{
        margin: 35px;
        width: auto;
    }
    #youWin{
        position: absolute;
        left: calc(50% - 175px);
        bottom: -180px;
    }
    .gameCenter{
        margin-top: 60px;
    }
    .pickedDiv{
        flex-direction: column-reverse;
        width: 20vh;
        height: 220px;
    }
    .pickedDiv>h3{
        font-size: 20px;
    }
    #rules{
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}
@media (max-width: 400px) {
    .circle{
        width: 80px;
        height: 80px;
    }
    .gameCenter{
        margin-top: 40px;
    }
    .triangle{
        scale: 0.8;
    }
    #popUpRules{
        width: 80vw;
    }
    .avatar{
        scale: 1;
    }
    .pickedDiv{
        height: 180px;
    }
    header>div{
        padding: 5px 20px;
    }
    #youWin{
        bottom: -180px;
    }
    .emptyAvatar{
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }
    .pickedDiv>h3{
        font-size: 18px;
        font-weight: 600;
    }
}